# ===============================
# GRADLE
# ===============================
.gradle/
build/
app/build/

# ===============================
# ANDROID
# ===============================
*.apk
*.aab
*.dex
*.class

# ===============================
# IDE / SISTEMA
# ===============================
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# ===============================
# LOGS / CACHE
# ===============================
*.log
*.tmp

# ===============================
# KEYS / SEGURANÇA (NUNCA SUBIR)
# ===============================
*.keystore
keystore.properties
