# Gradle
.gradle/
build/
app/build/

# Gradle local (NUNCA subir)
gradle-*/
*.zip

# Android
*.apk
*.aab

# Keystore (NUNCA subir)
*.keystore
keystore.properties

# Pastas locais duplicadas
Jaguar_IA/
