name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant Gradle Permission
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew clean assembleDebug

      - name: Debug APK files
        run: |
          echo "=== APKs encontrados ==="
          find app/build/outputs -name "*.apk"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: jaguar-apk
          path: app/build/outputs/**/*.apk
