name: Android CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: android-actions/setup-android@v3

      - name: Grant Gradle Permission
        run: chmod +x gradlew

      - name: Build AAB
        run: ./gradlew clean bundleRelease

      - name: Debug outputs
        run: |
          find app/build/outputs -type f

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: jaguar-aab
          path: app/build/outputs/bundle/release/*.aab
