name: Android APK Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build Debug APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Configurar Android SDK
        uses: android-actions/setup-android@v3

      - name: Permitir execução do Gradle
        run: chmod +x ./gradlew

      - name: Build APK Debug
        run: ./gradlew clean assembleDebug

      - name: Localizar APK
        run: |
          echo "===== APKs encontrados ====="
          find app/build/outputs -name "*.apk"

      - name: Upload do APK
        uses: actions/upload-artifact@v4
        with:
          name: Jaguaria-Debug-APK
          path: app/build/outputs/apk/debug/*.apk
