name: Build APK JaguarIA

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Dar permissão ao Gradle Wrapper
        run: chmod +x gradlew

      - name: Compilar APK Debug
        run: ./gradlew assembleDebug

      - name: Publicar APK como artefato
        uses: actions/upload-artifact@v4
        with:
          name: JaguarIA-APK
          path: app/build/outputs/apk/debug/app-debug.apk
